<!doctype html>
<html>

<head>
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 40px auto;
      max-width: 650px;
      line-height: 1.6;
      font-size: 18px;
      color: #444;
      padding: 0 10px;
    }

    h1,
    h2,
    h3 {
      line-height: 1.2
    }
  </style>
</head>

<body>
  <h1>
    Welcome to the IFTTT Platform!
  </h1>

  <p>If you're reading this document on <a href="https://platform.ifttt.com/docs/hello_world">platform.ifttt.com</a>, go
    ahead and click the <strong>Remix to Edit</strong> button in the upper right hand corner.</p>

  <p>If you don't have a Glitch profile already, that will prompt you to create a profile.</p>

  <p>Afterwards, it will clone this project and create your own version on your Glitch profile.</p>

  <p>To follow along with the rest of this tutorial, join us in the documentation <a
      href="https://platform.ifttt.com/docs/hello_world">here</a>.</p>

</body>

</html>